.building{
    width: 500px;
    /* height: 500px; */
    margin: 0 auto;
}
.floor{
   height: 100px;
   border-bottom: 2px solid #ccc; 
}
.floor-name{
    float : right
}
.lift{
    background: blue;
    width: 50px;
    height: 30px;
}
