<div>
    The elevator game content here
    <div class="building">
        {{floor building= model}}
        {{lift building = model}}
        {{!-- <Floor @building={{@model}} />
        <Lift @building={{@model}} /> --}}
    </div>
</div>
